<nz-card [nzBordered]="false">
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
            <nz-form-item>
                <nz-form-control nzErrorTip>
                  <nz-input-group>
                    <input type="email" nz-input formControlName="email" placeholder="Email" />
                  </nz-input-group>
                </nz-form-control>
                <div class="error-message" *ngIf="this.forgotPasswordForm.get('email')?.touched && this.forgotPasswordForm.get('email')?.hasError('required')"
                >Email is required</div>
                <div class="error-message" *ngIf="this.forgotPasswordForm.get('email')?.touched && this.forgotPasswordForm.get('email')?.hasError('email')"
                >Please enter a valid Email address</div>
            </nz-form-item>
            <button class="mt-30" nz-button [nzType]="'primary'" [disabled]="!forgotPasswordForm.valid">Send reset link</button>
        </form>
        <div class="mt-10">
          <a [routerLink]="['../login']">Back to Login page</a>
        </div>
</nz-card>
